// conda.enabled = true
// process.conda = '/home/by2747/miniconda3/envs/nf-GenomeIndex'

singularity.enabled = true
// process.container = '/n/core/Bioinformatics/analysis/CompBio/boweny/nf-Pipeline/RoboIndex_v2.0/assets/singularity_roboindex.sif'
process.container = '/opt/apps/dev/containers/roboindex/1.0/roboindex-1.0.sif'
singularity.autoMounts = true
